* {

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
    
}

.border {

    border: 15px solid #dad5d5;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns:  repeat(9, 50px) 400px;
    grid-template-rows: repeat(9, 50px) 400px;
    grid-template-areas: "A1 A2 A3 A4 A5 A6 A7 A8 A9"
                         "B1 B2 B3 B4 B5 B6 B7 B8 B9"
                         "C1 C2 C3 C4 C5 C6 C7 C8 C9"
                         "D1 D2 D3 D4 D5 D6 D7 D8 D9"
                         "E1 E2 E3 E4 E5 E6 E7 E8 E9"
                         "F1 F2 F3 F4 F5 F6 F7 F8 F9"
                         "G1 G2 G3 G4 G5 G6 G7 G8 G9"
                         "H1 H2 H3 H4 H5 H6 H7 H8 H9"
                         "I1 I2 I3 I4 I5 I6 I7 I8 I9"
                    
   
}

.case{

    background-image: url("blackandwhite.jpg");
    background-size: 100px;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
}


.towerwhite {
 
    grid-area: H1;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.bishopwhite {

    grid-area: H2;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.knightwhite {
    grid-area: H3;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.queenwhite {
    grid-area: H4;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.kingwhite {
    grid-area: H5;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.towerwhite2 {
 
    grid-area: H8;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.bishopwhite2 {

    grid-area: H7;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.knightwhite2 {
    grid-area: H6;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.pawnwhite1{
 
    grid-area: G1;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.pawnwhite2{
 
    grid-area: G2;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.pawnwhite3{
 
    grid-area: G3;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.pawnwhite4{
 
    grid-area: G4;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.pawnwhite5{
 
    grid-area: G5;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.pawnwhite6{
 
    grid-area: G6;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.pawnwhite7{
 
    grid-area: G7;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.pawnwhite8{
 
    grid-area: G8;
    background-size: 25px;
    color: #dad5d5;
    font-size: 35px;
    text-align: center;

}

.towerblack {

    grid-area: A1;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;

}

.bishopblack{

    grid-area: A2;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;


}

.knightblack {

    grid-area: A3;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}

.queenblack {

    grid-area: A4;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}

.kingblack {
    grid-area: A5;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}

.knightblack2{

    grid-area: A6;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}

.bishopblack2 {

    grid-area: A7;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}

.towerblack2 {

    grid-area: A8;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}

.pawnblack1 {

    grid-area: B1;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}

.pawnblack2 {

    grid-area: B2;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}
.pawnblack3 {

    grid-area: B3;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}
.pawnblack4 {

    grid-area: B4;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}
.pawnblack5 {

    grid-area: B5;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}
.pawnblack6 {

    grid-area: B6;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}
.pawnblack7 {

    grid-area: B7;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}
.pawnblack8 {

    grid-area: B8;
    background-size: 25px;
    color: #808080;
    font-size: 35px;
    text-align: center;
}

.one {

    grid-area: A9;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;
}

.two {
    grid-area: B9;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}

.three {

    grid-area: C9;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;
}

.four {

    grid-area: D9;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;
}

.five {

    grid-area: E9;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;
}

.six {

    grid-area: F9;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;
}

.seven {

    grid-area: G9;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}
.heigt {

    grid-area: H9;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;
}

.a {
    grid-area: I1;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}

.b {
    grid-area: I2;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}

.c {
    grid-area: I3;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}

.d {
    grid-area: I4;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}

.e{
    grid-area: I5;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}

.f {
    grid-area: I6;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}

.g {
    grid-area: I7;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}

.h 
{
    grid-area: I8;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;

}